@charset "UTF-8";

.order-confirm-delivery-info {
  margin: 0 200px 0 200px;
}

.order-confirm-delivery-datetime {
  text-align: center;
}

.order-confirm-delivery-time {
  margin-right: 10px;
}

.order-confirm-payment-method {
  text-align: center;
}

.order-confirm-payment-method-radio {
  margin-right: 10px;
}

.striped {
border:1px solid #000000;
text-align: center;
}

.item-icons img{
 margin: auto;
  display: block;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  padding: 0 0 15px 0;
}