<!DOCTYPE html>
<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/register_admin.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/item_list.css}" />
    <link rel="stylesheet" th:href="@{/css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{/css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{/css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{/css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクトイ</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="top.html">
              <img
                class="logo"
                src="img/header_logo.png"
                th:src="@{/img_toy/header_logo.png}"
              />
            </a>
          </div>

          <div class="header-right">
            <a th:href="@{/item/showItemList}">商品一覧</a>
            <div sec:authorize="!isAuthenticated()">
              <a th:href="@{/insert-user}">会員登録</a>
            </div>
            <a th:href="@{/shoppingcart/to-cartlist}">
              <i class="fas fa-shopping-cart"> </i>カート
            </a>
            <div sec:authorize="!isAuthenticated()">
              <a th:href="@{/login-user}" class="login">
                <i class="fas fa-sign-in-alt"></i>ログイン
              </a>
            </div>
            <div sec:authorize="hasRole('ROLE_USER')">
              <a th:href="@{/login-user/logout}" class="navbar-link"
                >ログアウト</a
              >
            </div>

            <a th:href="@{/orederhistory/view}">注文履歴</a>
          </div>
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1 class="page-title">ショッピングカート</h1>
        <!-- table -->

        <span class="empty">
          <div th:text="${emptyMessage}"></div>
        </span>

        <div th:if="${order.orderItemList}">
          <div class="row">
            <table class="striped">
              <thead>
                <tr>
                  <th class="cart-table-th">商品名</th>
                  <th>サイズ、価格(税抜)、数量</th>
                  <th>トッピング、価格(税抜)</th>
                  <th>小計</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="orderItem:${order.orderItemList}">
                  <td class="cart-item-name">
                    <div class="cart-item-icon">
                      <img
                        src="img/1.jpg"
                        th:src="@{/img_toy/} + ${orderItem.item.imagePath}"
                      />
                    </div>
                    <span th:text="${orderItem.item.name}"
                      >ハワイアンパラダイス</span
                    >
                  </td>
                  <td>
                    <span>&nbsp;&nbsp;</span>
                    <span class="price" th:text="${orderItem.size}"
                      >&nbsp;Ｌ</span
                    >
                    <span th:if="${orderItem.size.toString().equals('M')}">
                      <span>&nbsp;</span>
                      <span
                        th:text="${#numbers.formatInteger(orderItem.item.priceM,1,'COMMA')}"
                        >2,380円</span
                      >
                      <span>円 </span>
                    </span>
                    <span th:if="${orderItem.size.toString().equals('L')}">
                      <span>&nbsp;&nbsp;</span>
                      <span
                        th:text="${#numbers.formatInteger(orderItem.item.priceL,1,'COMMA')}"
                        >2,380円</span
                      >
                      <span>円 </span></span
                    >
                    <span>&nbsp;&nbsp;</span>
                    <span th:text="${orderItem.quantity}">1</span>
                    <span>個 </span>
                  </td>

                  <td>
                    <ul th:each="ordertopping:${orderItem.orderToppingList}">
                      <li>
                        <span th:text="${ordertopping.topping.name}"> </span>
                        <span>&nbsp;&nbsp;</span>
                        <span th:if="${orderItem.size.toString().equals('M')}">
                          <span
                            th:text="${#numbers.formatInteger(ordertopping.topping.priceM,1,'COMMA')}"
                            >ピーマン300
                          </span>
                        </span>
                        <span th:if="${orderItem.size.toString().equals('L')}">
                          <span
                            th:text="${#numbers.formatInteger(ordertopping.topping.priceL,1,'COMMA')}"
                            >ピーマン300</span
                          >
                        </span>
                        <span>円</span>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <span
                      class="text-center"
                      th:text="${#numbers.formatInteger(orderItem.getSubTotal(),1,'COMMA')}"
                      >3,280</span
                    >円
                  </td>
                  <td>
                    <form
                      action=""
                      th:action="@{/shoppingcart/delete}"
                      method="post"
                    >
                      <input
                        type="hidden"
                        name="orderItemId"
                        th:value="${orderItem.id}"
                      />
                      <button class="btn" type="submit">
                        <span>削除</span>
                      </button>
                    </form>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div th:unless="${order.orderItemList}">
            <div class="row cart-total-price">
              <div>
                消費税：<span
                  th:text="${#numbers.formatInteger(order.getTAX(),1,'COMMA')}"
                  >8,000</span
                >円
              </div>
              <div>
                ご注文金額合計：<span
                  th:text="${#numbers.formatInteger(order.CalcTotalPrice(),1,'COMMA')}"
                  >38,000</span
                >円 (税込)
              </div>
            </div>

          <form th:action="@{/orderconfilm/vieworder}" method="get">
          <div class="row item-cart-btn">
            <button class="btn" type="submit">
              <span>注文に進む</span>
            </button>
              </div>
            </form>

          </div>
        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer>
      <div class="container">
        <img src="img/header_logo.png" th:src="@{/img_toy/header_logo.png}" />
        <p>アロハな気分をあなたにお届け！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
