<!DOCTYPE html>
<html lang="ja"
xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      th:href="@{https://use.fontawesome.com/releases/v5.6.1/css/all.css}"
      rel="stylesheet"
    />
    
    <link rel="stylesheet" th:href="@{/css/item_list.css}" />
    <link rel="stylesheet" th:href="@{/css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{/css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{/css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{/css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクトイ</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a th:href="@{top.html}">
              <img class="logo" th:src="@{/img_toy/header_logo.png}" />
            </a>
          </div>

          <div class="header-right">
            <a th:href="@{/item/showItemList}">商品一覧</a>
            <a th:href="@{/}">会員登録</a>
            <a th:href="@{/}">
              <i class="fas fa-shopping-cart"> </i>カート
            </a>
            <a th:href="@{/}" class="login">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>

            <a th:href="@{/}">注文履歴</a>
          </div>
        </div>
      </div>
    </header>
    
    
    <div class="top-wrapper">
      <div class="container">
      
        <h1 class="page-title" th:text="${item.name}">dummy</h1>
        <div class="row">
          <div class="row item-detail">
            <div class="item-icon">
              <img th:src="@{/img_toy/} + ${item.imagePath}" />
            </div>
            <div class="item-intro"
            	th:text="${item.description}">
            	dummy
            </div>
          </div>
          <div class="row item-size">
            <div class="item-hedding">サイズ</div>
            <div>
              <label>
                <input id="size-m" name="size" type="radio" checked="checked" />
                <span>
                  &nbsp;<span class="price" th:text="${item.priceM}">Ｍ</span>
                  &nbsp;&nbsp;円(税抜)
                </span>
              </label>
              <label>
                <input id="size-l" name="size" type="radio" />
                <span>
                  &nbsp;<span class="price" th:text="${item.priceL}">Ｌ</span
                  >&nbsp;&nbsp;円(税抜)
                </span>
              </label>
            </div>
          </div>
          <div class="row item-toppings"
          th:each=" topping : ${item.toppingList}">
          
            <div class="item-hedding">
              トッピング：&nbsp;1つにつき
              <span th:text="${topping.priceM}">&nbsp;Ｍ&nbsp;</span>&nbsp;&nbsp;円(税抜)
              <span th:text="${topping.priceL}">&nbsp;Ｌ</span>&nbsp;&nbsp;円(税抜)
            </div>
            <div>
              <label class="item-topping">
                <input type="checkbox" />
                <span th:text="${topping.name}">dummy</span>
              </label>
              
            </div>
          </div>
          
          
          
          <div class="row item-quantity">
            <div class="item-hedding item-hedding-quantity">数量</div>
            <div class="item-quantity-selectbox">
              <div class="input-field col s12">
                <select class="browser-default">
                  <option value="" disabled selected>選択して下さい</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="row item-total-price">
            <span>この商品金額：38,000 円(税抜)</span>
          </div>
          <div class="row item-cart-btn">
            <button
              class="btn"
              type="submit"
              onclick="location.href='cart_list.html'"
            >
              <i class="material-icons left">add_shopping_cart</i>
              <span>カートに入れる</span>
            </button>
          </div>

        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer>
      <div class="container">
        <img th:src="@{/img_toy/header_logo.png}" />
        <p>お子様にプレゼントをお届け！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js}"></script>
  </body>
</html>
