<!DOCTYPE html>
<html
  lang="ja"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      th:href="@{https://use.fontawesome.com/releases/v5.6.1/css/all.css}"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/register_admin.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/item_list.css}" />
    <link rel="stylesheet" th:href="@{/css/item_detail.css}" />
    <link rel="stylesheet" th:href="@{/css/cart_list.css}" />
    <link rel="stylesheet" th:href="@{/css/order_confirm.css}" />
    <link rel="stylesheet" th:href="@{/css/order_finished.css}" />
    <link rel="stylesheet" th:href="@{/css/responsive.css}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品詳細</title>
  </head>
  <body>
    <form action="" th:action="@{/shoppingcart/cart}" method="post">
      <header>
        <div class="container">
          <div class="header">
            <div class="header-left">
              <a th:href="@{/}">
                <img class="logo" th:src="@{/img_toy/header_logo.png}" />
              </a>
            </div>

            <div class="header-right">

            <a th:href="@{/}">商品一覧</a>
            <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/insert-user}">会員登録</a>
            </div>
            <a th:href="@{/shoppingcart/to-cartlist}">
              <i class="fas fa-shopping-cart"> </i>カート
            </a>
             <div sec:authorize="!isAuthenticated()" >
            <a th:href="@{/login-user}" class="login">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>  </div>
             <div sec:authorize="hasRole('ROLE_USER')">
             <a th:href="@{/login-user/logout}" class="navbar-link">ログアウト</a> </div>
			<span sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/orederhistory/view}">注文履歴</a></span>
             <span sec:authorize="hasRole('ROLE_USER')">
            <span sec:authentication="principal.user.name">山田</span>さん</span>
            <div sec:authorize="!isAuthenticated()">
            <span>ゲストさん</span></div>
          </div>

          </div>
        </div>
      </header>

      <div class="top-wrapper">
        <div class="container">
          <input type="hidden" name="itemId" th:value="${item.id}" />
          <h1 class="page-title" th:text="${item.name}">dummy</h1>
          <div class="row">
            <div class="row item-detail">
              <div class="item-icon">
                <img th:src="@{/img_toy/} + ${item.imagePath}" />
              </div>
              <div class="item-intro" th:text="${item.description}">dummy</div>
            </div>
            <div class="row item-size">
              <div class="item-hedding">サイズ</div>
              <div>
                <label>
                  <input
                    id="size-m"
                    name="size"
                    value="M"
                    type="radio"
                    checked="checked"
                    class="size"
                  />
                  <span>
                    &nbsp;<span class="price">Ｍ</span>
                    <span
                      th:text="${#numbers.formatInteger(item.priceM, 1, 'COMMA')}"
                      id="priceM"
                    ></span>
                    &nbsp;&nbsp;円(税抜)
                  </span>
                </label>
                <label>
                  <input
                    id="size-l"
                    name="size"
                    value="L"
                    type="radio"
                    class="size"
                  />
                  <span>
                    &nbsp;<span class="price">Ｌ</span>
                    <span
                      th:text="${#numbers.formatInteger(item.priceL, 1, 'COMMA')}"
                      id="priceL"
                    ></span>
                    &nbsp;&nbsp;円(税抜)
                  </span>
                </label>
              </div>
            </div>

            <div class="row item-toppings">
              <div class="item-hedding">
                トッピング：&nbsp;1つにつき
                <span>&nbsp;Ｍ&nbsp;</span>&nbsp;&nbsp;200円(税抜)
                <span>&nbsp;Ｌ</span>&nbsp;&nbsp;300円(税抜)
              </div>
              <span th:each="topping:${item.toppingList}">
                <label class="item-topping">
                  <input
                    type="checkbox"
                    name="toppingIdList"
                    th:value="${topping.id}"
                    value=""
                    class="checkbox"
                  />
                  <span th:text="${topping.name}">トッピング名</span>
                </label>
              </span>
            </div>

            <div class="row item-quantity">
              <div class="item-hedding item-hedding-quantity">数量</div>
              <div class="item-quantity-selectbox">
                <div class="input-field col s12">
                  <select name="quantity" class="browser-default" id="toynum">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row item-total-price">
              <span>この商品金額：<span id="totalprice"></span> 円(税抜)</span>
            </div>
            <div class="row item-cart-btn">
              <button
                class="btn"
                type="submit"
                onclick="location.href='cart_list.html'"
              >
                <i class="material-icons left">add_shopping_cart</i>
                <span>カートに入れる</span>
              </button>
            </div>
          </div>
        </div>
        <!-- end container -->
      </div>
    </form>
    <!-- end top-wrapper -->
    <footer>
      <div class="container">
        <img th:src="@{/img_toy/header_logo.png}" />
        <p>お子様にプレゼントをお届けします！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script
      th:src="@{https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js}"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script th:src="@{/js/item_detail.js}"></script>
  </body>
</html>
