<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<!-- Import Materialize CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
<!-- Import Font Wesome -->
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{/css/register_admin.css}" />
<link rel="stylesheet" th:href="@{/css/login.css}" />
<link rel="stylesheet" th:href="@{/css/item_list.css}" />
<link rel="stylesheet" th:href="@{/css/item_detail.css}" />
<link rel="stylesheet" th:href="@{/css/cart_list.css}" />
<link rel="stylesheet" th:href="@{/css/order_confirm.css}" />

<link rel="stylesheet" th:href="@{/css/responsive.css}" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>注文履歴</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="header">
				<div class="header-left">
					<a th:href="@{/}"> <img class="logo"
						th:src="@{/img_toy/header_logo.png}" />
					</a>
				</div>

				<div class="header-right">
            <a th:href="@{/}">商品一覧</a>
            <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/insert-user}">会員登録</a>
            </div>
            <a th:href="@{/shoppingcart/to-cartlist}">
              <i class="fas fa-shopping-cart"> </i>カート
            </a>
             <div sec:authorize="!isAuthenticated()" >
            <a th:href="@{/login-user}" class="login">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>  </div>
             <div sec:authorize="hasRole('ROLE_USER')">
             <a th:href="@{/login-user/logout}" class="navbar-link">ログアウト</a> </div>
			 <span sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/orederhistory/view}">注文履歴</a></span>
          </div>
			</div>
		</div>
	</header>
	<div class="top-wrapper">
		<div class="container">
			<h1 class="page-title">注文内容履歴</h1>
			<!-- table -->
			<div class="row">
			<div th:error="${nullMessage}"></div>
			<div >
				<table class="striped" th:each="order:${orderList}">
					
					<tbody>
					
						<tr th:each="orderItem:${order.orderItemList}">
							<td class="cart-item-name">
							<ul>
							<li class="ordered_date" th:text="${order.orderDate}"></li>
							<li class="ordered_status"><span th:if="${ order.status==1}">未入金</span><span th:if="${ order.status==2}">入金済み</span><span th:if="${ order.status==3}">発送済み</span><li>
							</ul>
							</td>
							<td><div class="cart-item-icon"><img src="img/1.jpg"
										th:src="@{'../img_toy/'+${orderItem.item.imagePath}}" /></div></td>
							<td width="500px">
							<ul>
						
							<li class ="ordered_item_name" th:text="${orderItem.item.name}"></li>
							<li class ="ordered_item_price">価格:　<span th:text="${#numbers.formatInteger(orderItem.getSubTotal(),1,'COMMA')}"></span>円</li>
							<li class ="orderes_item_quantity">個数:　<span th:text="${orderItem.quantity}"></span>個</li>
							</ul>
							</td>
							<td>
							<form th:action="@{/item/showItemList/showItemDetail}" method="get" >
							<input type="hidden" th:value="${orderItem.itemId}"  name="itemId">
							<button  class="btn" type="submit"><span class="text-center"
								>再注文</span></button>
								</form>
								</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>

		<!-- end container -->
	</div>

	<!-- end top-wrapper -->
	<footer>
		<div class="container">
			<img th:src="@{/img_toy/header_logo.png}" />
			<p>お子様にプレゼントをお届けします！</p>
		</div>
	</footer>
	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>